#blackBar{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:40px;
   background-color:black;
   display: block;
}

#grinnell {
    left-margin: 50px;
}

#dasilLabel{
   padding-top = 70px;
   color:black;
   width:100%;
   top: 0;
   left: 0;
   left-margin: 10px;
   text-align: center;
   font-size: 200%;
   font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}