@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsNxB8OB85xaNTJvVSB9YUjQ.woff) format('woff');
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlOgEI-65pc1uHHusEBt4aX4.woff2") format("woff2"), url("http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlDLXPPWpYIJRcQ99gLLWTOQ.woff") format("woff");
}

#pagetitle {
   font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
   font-size: 40px;
   font-weight: 400;
   letter-spacing: -1px;
   line-height: 1.2;
   text-decoration: none;
   font-style: normal;
   text-transform: uppercase;
   color: #404040;
   float: right;
   margin-right: 1.5%;
   margin-top: -3%;
}

#bod {
	float: right;
}

#credit {
	font-family: "Source Sans Pro";
	color: #767676;
	position: absolute;
	margin-left: 50%;
	margin-top: -9%;
}

#interactive_menu {
	background-image:
		linear-gradient(
			to top right,
			#222222, #000066); 
	line-height: 1.45;
	width: 110%;
	height: 50px;
	position: absolute;
	top: 0px;
	margin-left: -5%;
}

.date {
	font-family: "Source Sans Pro";
	padding: 3px;
	float: left;
	text-transform: uppercase;
}

.by {
	font-family: "Source Sans Pro";
	padding: 3px;
	float: left;
	text-transform: italicize;
}

.id {
	font-family: "Source Sans Pro";
	padding: 3px;
	float: left;
	text-transform: uppercase;
}

path:hover {
	border: 3px solid black;
}

.states {
    stroke: #000;
    fill-opacity: .7;
}

#interactive_panel {
	width: 27%;
    margin-left: 2%;
    margin-top: 10%;
    background: #eee; 
}

#somanydivs {
	position: relative; 
}

#option_menu {
	margin-left:60px;
	margin-top:40px;
	width:400px;
	height:100px;
}

#selectBar {
	margin-left: 5px;
	margin-top: 35px;
}

#selectBarColor{
	margin-left:60px;
	margin-top:35px;
}

#selectedheader {
	margin-left:80px;
	margin-top:40px;
	font-family: Source Sans Pro;
	text-decoration: bold;
}

.tabp {
	font-family: Source Sans Pro;
}

#tooltip {
	background: #eee; 
	color: #464646;
	display: block;
	font-size: 12px;
	left: 130px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 50px;
	position: absolute;
	text-align: left;
	top: 280px;
	width: 20%;
	z-index: 10;
	margin-top: 8%;
	margin-right: 50%;
	margin-left: -8%;
	line-height: 350%;
	font-family: "Source Sans Pro";
	font-size: 110%;
}

#tooltipSelect {
	background: #eee; 
	color: #464646;
	display: block;
	font-size: 12px;
	left: 130px;
	padding-left: 40px;
	padding-right: 40px;
	position: absolute;
	text-align: left;
	top: 125px;
	width: 20%;
	z-index: 10;
	margin-top: 8%;
	margin-right: 50%;
	margin-left: -8%;
	line-height: 350%;
	font-family: "Source Sans Pro";
	font-size: 110%;
}

svg {
	float: right;
	width: 67%;
	height: 28em;
	margin-top: -6%;
	background: #eee;
}

.country {
  stroke: red;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: .5px;
}

.graticule-outline {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
}

#keybox {
	width:338px;
	height:22px;
 	background-color:#ffffcc;
 	margin-top: 20px;
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#ffffcc, endColorstr=#a1dab4);
 	background-image:-moz-linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
	background-image:linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
	background-image:-webkit-linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
	background-image:-o-linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
	background-image:-ms-linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
 	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#ffffcc), color-stop(25%,#a1dab4),color-stop(50%,#41b6c4),color-stop(100%,#225ea8));
 }
 
 table {
 	margin-top: 23%;
 	margin-left: 25%;
 	padding-bottom: 50%;
 	padding-top: 10%;
 	
 }
 
 #k {
 	font-family: "Source Sans Pro";
	margin-top: -5%;
	margin-left: -4%;
	float: left;
 }
 
 #caption {
    font-family: "Source Sans Pro";
 }
 
 #bod {
	height: 100%;
	float: right;
}
 
 #key {
 	margin-top: 60%;
 	background: #FFF;
 	position: absolute;
 	padding: 15px;
 	border: black solid 2px;
}
 
 #greybox {
	background: grey;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 15%;
	float: left;
	margin-right: 10px;
}

#selectBar, #selectBarColor {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 5px;
   border-radius: 5px;
   background: #f6f6f6;
   font-size: 1em; 
   color: #404040;
}

#selectBar:hover , #selectBarColor:hover {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 5px;
   border-radius: 5px;
   background: #222;
   font-size: 1em; 
   color: white;
}
